<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/expenses/show.css" />
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<%- include('../partials/nav') %>
<h1> Current Expense</h1>

<section>
  <% if (expense.owner.equals(user?.profile._id)) { %>
	<ul>
    <li>Money Spent: <%= expense.price %></li>
  
    <li>Date: <%= expense.date.toLocaleString() %></li>
    <!-- <td><%= expense.category %></td> -->
    <li>Description: <%= expense.description %></li>
  
    <li>Reasonable: <%= expense.reasonable ? 'reasonable' : 'not reasonable' %></li>
    <li><a href="/expenses/<%= expense._id %>/edit"><i class="fa fa-edit"></i></a></li>
  </ul>
  
    <form 
      action="/expenses/<%= expense._id %>/changeReasonable?_method=PATCH" 
      method="POST"
    >
      <button class="btn" type="submit">
        Swich it  <%= expense.reasonable ? 'not reasonable' : 'reasonable' %>
      </button>
    </form>
  <% } %>

</section>

<%- include('../partials/footer') %>