<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/expenses/show.css" />
<%- include('../partials/nav') %>
<h1> Current Expense</h1>
<section>
	<ul>
    <li>Money Spent: <%= expense.price %></li>
  
    <li>Date: <%= expense.date.toLocaleString() %></li>
    <!-- <td><%= expense.category %></td> -->
    <li>Description: <%= expense.description %></li>
  
    <li>Reasonable: <%= expense.reasonable ? 'reasonable' : 'not reasonable' %></li>
  </ul>
  <% if (expense.owner.equals(user?.profile._id)) { %>
    <form 
      action="/expenses/<%= expense._id %>/changeReasonable?_method=PATCH" 
      method="POST"
    >
      <button class="btn" type="submit">
        Swich it  <%= expense.reasonable ? 'not reasonable' : 'reasonable' %>
      </button>
    </form>
  <% } %>

</section>

<%- include('../partials/footer') %>