<%- include('./partials/html-head') %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/stylesheets/index.css" />

<%- include('./partials/nav') %>

<main class="welcome-section">
  <div class="welcome-container">
    <div class="welcome-content">
      <h1>Welcome to Expense Tracker, <%= user ? user.profile.name : "Sweety" %></h1>
      <% if (user?.profile.avatar) { %>
        <div class="avatar-container">
          <img src="<%= user.profile.avatar %>" alt="<%= user.profile.name %> avatar" />
        </div>
      <% } %>
    </div>
  </div>
</main>

<%- include('./partials/footer') %>

