<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/budgets/style.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<%- include('../partials/nav') %>

<section class="container">
  <% if (user) { %>
    
    <h1>Budgets</h1>
    <% if (budgets && budgets.length > 0) { %>

      <% let totalAmountAll = budgets.reduce((acc, budget) => acc + budget.amount, 0) %>
      <h3>All Budget: $<%= totalAmountAll %></h3>

      <div class="budget-cards">
        <% let uniquePeriods = new Set() %>
        <% budgets.forEach(budget => { %>
          <% if (budget.owner.equals(user?.profile._id)) { %>
          <% if (!uniquePeriods.has(budget.timePeriod)) { %>
            <div class="budget-card">
              <h2><%= budget.timePeriod %></h2>
              <p>Total Amount: $<%= totalAmountForPeriod(budget.timePeriod) %></p>
              <ul class="budget-list">
                <% budgets
                  .filter(b => b.timePeriod === budget.timePeriod)
                  .forEach(b => { %>
                    <li>
                      $<%= b.amount %> - <%= b.category %>
                      <form
                        action="/budgets/<%= b._id %>?_method=DELETE"
                        method="POST"
                        style="display: inline"
                      >
                        <button type="submit" class="delete-btn">Delete</button>
                      </form>
                    </li>
                  <% }) %>
              </ul>
            </div>
            <% uniquePeriods.add(budget.timePeriod) %>
          <% } %>
          <% } %>
        <% }) %>
      </div>
    <% } else { %>
      <p>No budgets found.</p>
    <% } %>
  <% } %>
</section>

<%- include('../partials/footer') %>

<%
function totalAmountForPeriod(timePeriod) {
  return budgets
    .filter(b => b.timePeriod === timePeriod)
    .reduce((acc, b) => acc + b.amount, 0)
}
%>
